header {
    background-color: blue;
    padding: 15px 0;
    text-align: center;
    
  }

  header h1 {
    color: white;
    font-weight: 1000;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: yellow;
  }

  .container {
    max-width: 1000px;
    margin:20px 60px;
  }

  .title {
    text-align: center;
    margin-left: 150px;
    font-weight: 700;
    font-size: 25px;
    color: blue;
  }

  .team-grid {
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: space around;
  }

  .team-card {
    background-color:lightblue;
    border-radius: 10px;
    overflow: visible;
    width: 230px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
  }

  .team-card:hover {
    transform: scale(1.05);
  }

  .team-card img {
    width: 170;
    height: 300px;
    object-fit: cover;
    display: block;
    border-bottom: 2px solid skyblue;
  }

  .team-card p {
    color: blue;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }

  footer {
      text-align: center;
      color: blue;
      font-size: 15px;
     
    }
  
